#!/bin/bash
###########################################################################
#                                                                         #
#   Copyright (c)                                                         #
#     Arvid Norlander <anmaster@kuonet.org>                               #
#                                                                         #
#   This program is free software; you can redistribute it and/or modify  #
#   it under the terms of the GNU General Public License as published by  #
#   the Free Software Foundation; either version 2 of the License, or     #
#   (at your option) any later version.                                   #
#                                                                         #
#   This program is distributed in the hope that it will be useful,       #
#   but WITHOUT ANY WARRANTY; without even the implied warranty of        #
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the         #
#   GNU General Public License for more details.                          #
#                                                                         #
#   You should have received a copy of the GNU General Public License     #
#   along with this program; if not, write to the                         #
#   Free Software Foundation, Inc.,                                       #
#   59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.             #
###########################################################################

# What version this config is at. This is used to check
# if your config needs updating.
config_version=1

# Nick to use
firstnick="BOTNICK"
# Nick if first is in use
secondnick="BOTNICK_"
# Nick if second is in use
thirdnick="BOTNICK_"

ident='rfc3092'
gecos='ietf.org/rfc/rfc3092'

# If this is empty don't use nickserv.
nickservpasswd='nickserv password here'

# Format should be hostname.foo/port
server='irc.kuonet.org/6667'
# If this is empty don't use a server passwd.
serverpasswd=""

# Channels to autojoin on connect
autojoin_channels[1]='#channel'
# A channel can have a key as showed in the example below
autojoin_channels[1]='#otherchannel channelkey'

# If a message is prefixed with this, treat is as a command.
listenchar=';'

# Owner regexes.
# THESE ARE EXAMPLES, don't use these, replace them
# Without one set, the bot won't start
#owners[1]='.*!brain@staff\.kuonet\.org'
#owners[2]='.*!brain@staff\.kuonet-ng\.org'

# Directory for logfiles
logdir="logs"
# Should we always log to STDOUT as well?
logstdout=0

# What modules to load, space separated list
# For a list of modules see the modules dir.
modules="faq"

# Module specific settings
faq_file='./faq.txt'
