#!/bin/bash
###########################################################################
#                                                                         #
#  envbot - an irc bot in bash                                            #
#  Copyright (C) 2007  Arvid Norlander                                    #
#                                                                         #
#  This program is free software: you can redistribute it and/or modify   #
#  it under the terms of the GNU General Public License as published by   #
#  the Free Software Foundation, either version 3 of the License, or      #
#  (at your option) any later version.                                    #
#                                                                         #
#  This program is distributed in the hope that it will be useful,        #
#  but WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          #
#  GNU General Public License for more details.                           #
#                                                                         #
#  You should have received a copy of the GNU General Public License      #
#  along with this program.  If not, see <http://www.gnu.org/licenses/>.  #
#                                                                         #
###########################################################################

# Variables marked with (*) will take effect at a rehash as well.

# What version this config is at. This is used to check
# if your config needs updating.
config_version=10

####################
# General settings #
####################

# Nick to use
config_firstnick="BOTNICK"
# Nick if first is in use
config_secondnick="BOTNICK_"
# Nick if second is in use
config_thirdnick="BOTNICK__"

config_ident='rfc3092'
config_gecos='ietf.org/rfc/rfc3092'


# Server to use
config_server='irc.kuonet-ng.org'
# What port to use. Normally 6667 works for non SSL connections.
config_server_port='6667'
# If 1 use SSL, not all transport modules support this.
config_server_ssl=0
# Accept invalid certs?
#   Note that some SSL modules (openssl for example) just
#   print any errors and continues anyway
config_server_ssl_accept_invalid=0
# Be verbose when connecting?
#   Not all SSL modules support it. The ones that doesn't
#   support it will just ignore it.
#   Be aware that this is mainly for debugging of SSL transport
#   modules as it is possible the verbose output may confuse the bot!
config_server_ssl_verbose=0
# If not empty try to bind to this IP when connecting, useful
# to select vhost. Not all transport modules support this.
config_server_bind=""
# If this is empty don't use a server password.
config_server_passwd=""

# (*) A regular expression of prefixes we should listen to.
config_listenregex="(;|${config_firstnick}[:,] )"

# (*) Owner regexes.
#     THESE ARE EXAMPLES, don't use these, replace them
#     Without at least one set, the bot won't start
#config_owners[1]='.*!brain@staff\.kuonet\.org'
#config_owners[2]='.*!brain@staff\.kuonet-ng\.org'


###########
# Logging #
###########

# Directory for logfiles
config_log_dir="logs"
# (*) Should we always log to STDOUT as well?
config_log_stdout=1

#############
# Transport #
#############

# Transport module. You should select exactly one.
#   The recommended non-SSL module is dev-tcp.
#   The recommended SSL module is gnutls.
config_transport='dev-tcp'
#config_transport='gnutls'
#config_transport='openssl' # Not well tested
#config_transport='stunnel' # Tested and depressingly broken. Don't use.

# stunnel options
#   MAKE SURE THEY ARE CORRECT if you use stunnel.
#config_transport_stunnel_path='/usr/sbin/stunnel'
#config_transport_stunnel_localport='9741'

###########
# Modules #
###########


# What modules to load, space separated list
# For a list of modules see the modules dir.
# Note that the order of the modules may be important
# The list should normally start with "load services umodes"
config_modules="load services umodes autojoin"


############################
# Module specific settings #
############################

#####################################################################
# Services module
#
# Nickserv password
config_module_services_nickserv_passwd='nickserv password here'
# (*) Name of nickserv
#     Normaly this is correct
config_module_services_nickserv_name='NickServ'
# (* )Service style. Supported are: anope, atheme
#     For the default server (irc.kuonet-ng.org) use atheme
#     Otherwise try anope, that will work with atheme too but
#     some features will be disabled.
config_module_services_style='atheme'
# (*) Use server side aliases
#     Try 1 first, if the bot fails to identify try 0
config_module_services_server_alias=1


#####################################################################
# FAQ module
#
# (*) Location of FAQ items.
#config_module_faq_file='data/faq.txt'


#####################################################################
# AutoJoin module.
#
# Channels to autojoin on connect
config_module_autojoin_channels[1]='#channel'
# A channel can have a key as showed in the example below
config_module_autojoin_channels[2]='#otherchannel channelkey'


#####################################################################
# Umodes module.
#
# Default umodes to set on connect.
config_module_umodes_default_umodes="+isB-w"
